aioredis==1.1.0
asn1crypto==0.24.0
async-timeout==3.0.0
asyncio==3.4.3
attrs==18.1.0
Automat==0.6.0
backcall==0.1.0
beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
constantly==15.1.0
crc16==0.1.1
crochet==1.9.0
cryptography==2.2.2
cssselect==1.0.3
decorator==4.3.0
hyperlink==18.0.0
idna==2.6
incremental==17.5.0
ipython==6.4.0
ipython-genutils==0.2.0
jedi==0.12.0
lxml==4.2.1
motor==1.1
parsel==1.4.0
pickleshare==0.7.4
prompt-toolkit==1.0.15
ptyprocess==0.5.2
pycparser==2.18
PyDispatcher==2.0.5
Pygments==2.2.0
pymongo==3.6.1
pyOpenSSL==18.0.0
python-redis==0.1.7
queuelib==1.5.0
redis==2.10.6
requests==2.18.4
Scrapy==1.5.0
service-identity==17.0.0
simplegeneric==0.8.1
six==1.11.0
tornado==5.0.2
Tornado-MySQL==0.5.1
traitlets==4.3.2
Twisted==18.4.0
urllib3==1.22
w3lib==1.19.0
wcwidth==0.1.7
wrapt==1.10.11
zope.interface==4.5.0
PyYAML==3.12
