aioredis==1.1.0
beautifulsoup4==4.6.0
bs4==0.0.1
lxml==4.6.2
motor==1.1
pymongo==3.6.1
python-redis==0.1.7
redis==2.10.6
requests==2.20.0
Scrapy==1.5.0
tornado==5.0.2
Tornado-MySQL==0.5.1
PyYAML==5.4
